# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

## any deeper build folders are also ignored
/**/build/

# git internal files
.git/

# dist folder for webpack output
/**/dist/

# for ignoring the node modules for frontend
/**/node_modules/

# incase you have a lib folder with internal deps, you may remove the below pattern
lib/

# for historical reasons
webapp/

# for vim swap files
/**/*.swp

# for any tmux logs
/**/*.log
