#root{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1358px;
  height: 642px;
  background: linear-gradient(to bottom, #1db954, rgba(205, 227, 213, 0.78));
}
