@font-face {
  font-family: 'Instrument Sans Medium';
  src: url('../static/fonts/InstrumentSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.login-prompt{
    position: absolute;
    top: 30%;
    left: 2%;
    height: 100%;
    width: 80%;
    font-family: 'Instrument Sans Medium';
    font-weight: 600;
    font-size: 1.5em;
}


.login-btn{
    position: absolute;
    top: 26.51%;
    left: 33.85%;
    height: 43%;
    width: 35%;
    background-color: #1ED760;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Instrument Sans Medium';
    font-weight: 600;
    font-size: 1em;
    border: none;
    padding-top: 2%;
    flex-direction: row;
    display: flex;
    justify-content: center
}
