
.player-container{
    position: absolute;
    top: 47.66%;
    left: 31.14%;
    width: 33.06%;
    height: 46.41%;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.player-track{
    position: absolute;
    height: 55.70%;
    width: 100%;
    top: 0%;
    left: 0%;
}
