<!DOCTYPE HTML>
<html>
  <head>
   <script src="http://127.0.0.1:3000/js/runtime.js"> </script>
   <script src="http://127.0.0.1:3000/js/vendors.js"> </script>
  </head>

  <body>
    <div id="root"> </div>
    <script th:inline="javascript">
      const isSuccessPage = /*[[${isSuccess}]]*/ false;
      const userGrantedPermission = /*[[${userGrantedPermission}]]*/ false;
      const accessToken =  /*[[${accessToken}]]*/ null;
      const userEmail = /*[[${userEmail}]]*/ "";
      const sessionId = /*[[${sessionId}]]*/ "";
      const deviceId = /*[[${deviceId}]]*/ "";
      const initialTrackMetaData = /*[[${initialTrackMetaData}]]*/ "";
    </script>
    <script src="http://127.0.0.1:3000/js/index.js"> </script>
  </body>
</html>
