<!DOCTYPE HTML>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
   <script src="http://127.0.0.1:3000/js/runtime.js"> </script>
   <script src="http://127.0.0.1:3000/js/vendors.js"> </script>
  </head>

  <body>
    <div id="root"> </div>
    <script th:inline="javascript">
      const isSuccessPage = /*[[${isSuccess}]]*/ false;
      const userGrantedPermission = /*[[${userGrantedPermission}]]*/ false;
      const isEligible = /*[[${isEligible}]]*/ false;
      const accessToken =  /*[[${accessToken}]]*/ null;
      const userEmail = /*[[${userEmail}]]*/ "";
      let sessionId = /*[[${sessionId}]]*/ "";
      const deviceId = /*[[${deviceId}]]*/ "";
      const initialTrackMetaData = /*[[${initialTrackMetaData}]]*/ "";
      let currEmailGlobal = /*[[${currEmailGlobal}]]*/ "";
      const stageFromServer = /*[[${stageFromServer}]]*/ -1;
    </script>
    <script src="http://127.0.0.1:3000/js/index.js"> </script>
  </body>
</html>
