<!DOCTYPE HTML>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
   <link rel="stylesheet" th:href="@{${baseCssUrl}+'/'+${indexCssName}}">
   <title> zencode </title>
   <script th:src="@{${baseJsUrl}+'/'+${runtimeJsName}}"> </script>
   <script th:src="@{${baseJsUrl}+'/'+${vendorsJsName}}"> </script>
  </head>

  <body>
    <div id="root"> </div>
    <script th:inline="javascript">
      const isDev = /*[[${isDev}]]*/ true;
      const isSuccessPage = /*[[${isSuccess}]]*/ false;
      const userGrantedPermission = /*[[${userGrantedPermission}]]*/ false;
      const isEligible = /*[[${isEligible}]]*/ false;
      const accessToken =  /*[[${accessToken}]]*/ null;
      const userEmail = /*[[${userEmail}]]*/ "";
      let sessionId = /*[[${sessionId}]]*/ "";
      const deviceId = /*[[${deviceId}]]*/ "";
      const initialTrackMetaData = /*[[${initialTrackMetaData}]]*/ "";
      let currEmailGlobal = /*[[${currEmailGlobal}]]*/ "";
      const stageFromServer = /*[[${stageFromServer}]]*/ -1;
    </script>
   <script th:src="@{${baseJsUrl}+'/'+${indexJsName}}"> </script>
  </body>
</html>

